:root {
	--primaryColor: linear-gradient(90deg, #00aaf3 0%, #64c0e8 50%, #ade0f5 100%);
	--secondaryColor: #FFFFFF;
	--profileSize: 250px;

}

@media (max-width: 480px) {:root{
	--profileSize: 250px;
	--primaryColor: linear-gradient(90deg, #00aaf3 0%, #64c0e8 50%, #ade0f5 100%);
	--secondaryColor: #FFFFFF;

}  
}
@media (max-aspect-ratio: 1/1) and (min-width: 481px) {:root{
	--primaryColor: linear-gradient(90deg, #00aaf3 0%, #64c0e8 50%, #ade0f5 100%);
	--secondaryColor: #FFFFFF;
	--profileSize: 350px;

}  
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}