
.layer-1-1dcd25da24084328ae85bc8546bebe1d{
    
justify-content: center !important;
align-items: center !important;
background-repeat: no-repeat !important;
background-size: cover !important;
background-position: center !important;
background-image: url('/_next/image?url=%2Fassets%2FGradient - Normal.png&w=3840&q=75') !important;
flex: 1 1 50% !important;height: 0px !important;min-height: 0px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-14-534f3abe8d0746be9978984bc654680a{
    
justify-content: center !important;
align-items: center !important;

padding-top: 5vh !important;
box-sizing: border-box !important;
flex: 1 1 50% !important;height: 0px !important;min-height: 0px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-3-11ea6e88806e4778b7d73e4b032151d8{
    
border-radius: 11.709601873536293vh !important;background-repeat: no-repeat !important;
background-size: cover !important;
background-position: center !important;
background-image: url('/_next/image?url=%2Fassets%2FSantiago Black and White - Agua.png&w=3840&q=75') !important;width: var(--profileImageSize) !important; 
min-width: var(--profileImageSize) !important; 
height: var(--profileImageSize) !important; 
min-height: var(--profileImageSize) !important; 
}
.imageview-1-bd258b9bb61b489dac9f0d5a0ac4f461{
    width: var(--profileImageSize) !important; 
min-width: var(--profileImageSize) !important; 
height: var(--profileImageSize) !important; 
min-height: var(--profileImageSize) !important; 
}
.layer-13-2721b0c71228410c9daff7c722b54422{
    
justify-content: center !important;
align-items: center !important;

padding-bottom: 5vh !important;
box-sizing: border-box !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-1-7f816348c5f04ed2b29164e6981daf13{
     text-align: center !important;

font-weight: bold !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--Text1Size) !important; 
}
.text-7-98fb2e24c9c74e00b59d8fedbcc42e70{
     



height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--Text2Size) !important; 
}
.layer-2-30a576cadd594c0c8d642b225d0e9402{
    

padding-top: 5vh !important;
padding-bottom: 3vh !important;
box-sizing: border-box !important;
flex: 1 1 50% !important;height: 0px !important;min-height: 0px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-4-53f94c064dec4155997e8cd8a8542eca{
    
justify-content: center !important;
align-items: center !important;

height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-3-250a7b0ed8244774a858e0d0ddd8d791{
     

font-weight: bold !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;background: var(--primaryColor) !important; 
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
font-size: var(--Text1Size) !important; 
}
.text-2-546d2a9764a44f9a94221d28e3bff9d0{
     



height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--Text2Size) !important; 
}
.layer-6-744d7ac159a74080928dc8468c729e8e{
    flex-direction: row !important;
justify-content: center !important;
align-items: center !important;

flex: 1 1 50% !important;height: 0px !important;min-height: 0px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-7-bc13514b025d4b5eac495bc5453d1ece{
    
justify-content: center !important;
align-items: center !important;

height: fit-content !important;min-height:  unset !important;
flex: 1 1 50% !important;width: 0px !important;min-width: 0px !important;margin-right: var(--TextMargin) !important; 
}
.icon-1-25eed2b91d444292b8790fee97977c80{
    
height: fit-content !important;width: var(--iconSize) !important; 
min-width: var(--iconSize) !important; 

--margin-right: var(--TextMargin2);
margin-right: var(--margin-right) !important;
}
.text-4-8857318789e04948ac18c311b23f38ca{
     text-align: center !important;



height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--iconSize) !important; 
}
.layer-8-c26f4a952fdf467fbd92e50ae538f371{
    
align-items: center !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;margin-right: var(--TextMargin) !important; 
}
.imageview-2-1fda112c34f44d198182ed20eed3cc7b{
    width: var(--iconSize) !important; 
min-width: var(--iconSize) !important; 
height: var(--iconSize) !important; 
min-height: var(--iconSize) !important; 
}
.text-8-6a0123913cfd4a798c0a6df66be5af3a{
     

font-size: 25pt !important;
font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;
}
.layer-9-780b5703fede4494b6db488e9738c74e{
    
justify-content: center !important;
align-items: center !important;

height: fit-content !important;min-height:  unset !important;
flex: 1 1 50% !important;width: 0px !important;min-width: 0px !important;
}
.icon-2-424e0137dd404e9e931016b5c69c6d35{
    
height: fit-content !important;width: var(--iconSize) !important; 
min-width: var(--iconSize) !important; 

--margin-right: var(--TextMargin2);
margin-right: var(--margin-right) !important;
}
.text-5-c838c31781fb45ffbb7ffececc60c5bd{
     



height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-size: var(--iconSize) !important; 
}
.layer-10-3e68b5ae3646478aa2e351f0e222fdc5{
    

flex: 1 1 50% !important;height: 0px !important;min-height: 0px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-11-4d4bdddc629045cbb59eb4fbe69e9dfe{
    

flex: 1 1 50% !important;height: 0px !important;min-height: 0px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-12-77964a7acd234369949075f2baf3a074{
    
justify-content: center !important;
align-items: center !important;

height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.imageview-3-5dafe37d8222453a8810fd03f405b21a{
    width: var(--logoSize) !important; 
min-width: var(--logoSize) !important; 
height: var(--logoSize) !important; 
min-height: var(--logoSize) !important; 
}
.text-6-932299da82fb46bd92435af1ce7539bb{
     




height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;
}
